@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*,
*::before
*::after {
    box-sizing: border-box;
}
body {
    font-family: Inter;
    margin: 0;
}

.topbar {
    background-color: #282828;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.topbar-item {
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 3px;
}
.topbar-item a {
    color: white;
}
.topbar-item:first-child {
    margin-right: auto;
    margin-left: 1.6rem;
}
.topbar-item:nth-child(2) {
    margin-right: 58rem;
}
.material-icons {
    color: white;
}
button {
    width: 67px;
    background-color: #282828;
    border-inline-start-color: white;
    box-shadow: none;
    padding: 0px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    height: min-content;
}
.seconditem {
    background-color: #09A8C5;
    display: grid;
    grid-template-columns: repeat(6, 240px);
    margin: 0;
    list-style-type: none;
    gap: 0px;
}
.seconditem-list {
    list-style-type: none;
    text-transform: uppercase;
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
    color: white;
}
