@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*,
*::before
*::after {
    box-sizing: border-box;
}
body {
    font-family: Inter;
    margin: 0;
}

.topbar {
    background-color: #282828;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.topbar-item {
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 6px;
}
.topbar-item a {
    color: white;
}
.topbar-item:first-child {
    margin-right: auto;
    margin-left: 1.6rem;
}
.topbar-item:nth-child(2) {
    margin-right: 56rem;
}
.material-icons {
    color: white;
}
button {
    width: 67px;
    background-color: #282828;
    border-inline-start-color: white;
    box-shadow: none;
    padding: 0px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    height: fit-content;
}
.seconditem {
    display: flex;
    justify-content: space-between;
    background-color: #09A8C5;
    margin: 0;
    padding-inline-end: 40px;
}
.seconditem-list {
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    padding: 9px;
    font-size: 14px;
}
h3 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    padding-left: 20px;
    padding-right: 20px;
}
.boxes-item {
    width: 190px;
    border-radius: 13px;
    height: 103px;
}
.boxes-item:nth-child(5) {
    background: white;
    border-radius: 13px;
    box-shadow: 5px 5px 3px grey;
    width: 480px;
}